* {
    box-sizing: border-box;
}
strong {
    font-weight: bold;
}

body {
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    margin: 110px 0;
}


/* TOPO / FOOTER */

header,
footer {
    position: fixed;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: white;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.07);
}

/* TOPO */

header {
    top: 0;
}
header img {
    width: 75px;
}
header ion-icon {
    font-size: 42px;
}

/* FOOTER */

footer {
    bottom: 0;
}
footer input {
    border: none;
    font-size: 18px;
    font-style: italic;
}
footer ion-icon {
    font-size: 30px;
}

/* MENSAGENS */
li {
    background-color: white;
    box-sizing: content-box;
    width: calc(100% -10px);
    height: auto;
    padding: 10px;
    margin-bottom: 4px;
}
.hora-msg {
    color: rgb(170, 170, 170);
    margin-right: 10px;
}